* {

    padding: 0;
    box-sizing: border-box;
    max-width: 1200px;
}

html {
    margin: auto;
}

body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: wrap;
    grid-template-areas:
        "box-1 box-1 box-1 box-1"
        "box-2 box-2 box-2 box-4"
        "box-2 box-2 box-2 box-4"
        "box-5 box-5 box-5 box-5";
    font-family: roboto, sans-serif;
    justify-content: center;
    justify-items: center;
    grid-gap: 10px;
    font-size: 12px;

}

header {
    background-image: url(/TASCA-1/assets/header.jpg);
    background-size: 140%;
    width: 100%;
    margin-bottom: 10px;
    object-fit: cover;
    background-position: center;
    height: 270px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

}

#logico {
    animation-name: logoAnimation;
    animation-duration: 2s;
}


@keyframes logoAnimation {
    0% {
        width: 50px;
    }

    50% {
        width: 100px;
    }

    100% {
        width: 50px;
    }
}


nav ul {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
    color: gray;
}

nav ul li:hover {
    color: salmon;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

#disfruta_mob {
    display: none;
}

#disfruta {
    height: 85px;
    margin: 0px 40px;
    background-color: rgb(239, 235, 235);
    align-self: end;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 5px;
    mix-blend-mode: multiply;
}

#disfruting {
    font-size: 2.3em;
    color: salmon;
    opacity: 100%;

    animation-name: disfrutation;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    /* animation-delay: 2s; */
}

@keyframes disfrutation {
    0% {
        font-size: 2.3em;
        color: salmon;
    }

    25% {
        color: blue;
        opacity: 100%;
    }

    50% {
        font-size: 3em;
        color: red;
        opacity: 100%;
    }

    75% {
        color: blue;
        opacity: 100%;
    }

    100% {
        font-size: 2.3em;
        color: salmon;
        opacity: 100%;
    }
}

#wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    gap: 20px;
}

#container {
    background-color: lightgrey;
    padding: 10px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr 1fr auto;
    justify-content: center;
    align-content: center;
    grid-auto-rows: auto;

}

article {
    background-color: white;
    width: 100%;
    padding: 10px;
    text-align: left;
    color: gray;
    display: flex;
    flex-direction: column;
}

article:hover {
    transition: all 0.2s ease-in-out;
    scale: 1.02;
    border: 2px solid rgb(166, 75, 75);
    border-radius: 3%;
    -webkit-box-shadow: 0px 0px 11px 6px salmon;
    box-shadow: 0px 0px 11px 6px salmon;
}

article img {
    width: 100%;
    aspect-ratio: 2/1;
    object-fit: cover;
}

.fotico {
    display: block;
    position: relative;
}

.fechita {
    position: absolute;
    color: yellow;
    bottom: 8px;
    left: 16px;
}

article h2 {
    background-color: salmon;
    color: white;
    font-family: monospace;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 3px;
    padding: 5px 10px 0px 10px;
}

article p {
    column-count: 2;
    padding: 2px;
}

.read:hover {
    color: rgb(93, 62, 228);
    text-decoration: underline;
    cursor: pointer;
}

#sidebar {
    background-color: lightgray;
    padding: 20px;
    text-align: center;
}

#sidebar p {
    margin-top: 15px;
}

#footy {
    background-color: lightgray;
    grid-column: 1 / 3;
    width: 100%;
    padding: 3px;
    text-align: center;
    font-size: 14px;
    color: gray;
}

footer {
    height: 40px;
    margin-top: 10px;
    background-color: rgb(232, 229, 229);

    width: 100%;
    height: wrap;
    text-align: center;
    color: gray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-left: 10px solid lightgray;
    border-right: 10px solid lightgray;
}




/*------------------- tablet -------------------------------*/
@media (max-width: 768px) {
    body {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: wrap;
        grid-template-areas:
            "box-1 box-1 "
            "box-2 box-2 "
            "box-2 box-2"
            "box-4 box-4"
            "box-5 box-5";
    }

    #wrapper {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
    }

    #container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        align-items: center;
    }

    #sidebar {
        width: 100%;
        display: grid;
    }

    article {
        width: 100%;
    }
}

/*------------------- mobile -------------------------------*/
@media (max-width: 480px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header {
        height: 100px;
    }

    #disfruta_mob {
        width: 100%;
        color: salmon;
        font-size: 1.20em;
        font-weight: bolder;
        gap: 10px;
        padding: 3px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-blend-mode: lighten;
    }

    nav ul {
        display: none
    }

    #disfruta {
        display: none;
    }

    #container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    article h2 {
        font-size: 18px;
        letter-spacing: 1px;
    }

    article p {
        min-width: 300px;
        column-count: 1;
    }

}