* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1200px;
}

body {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "box-1 box-1 box-1 box-1"
        "box-2 box-2 box-2 box-3"
        "box-2 box-2 box-2 box-3"
        "box-4 box-4 box-4 box-4";
    font-family: roboto, sans-serif;
    font-size: 12px;
}

header {
    background-image: url(/TASCA-1/assets/header.jpg);
    background-size: 140%;
    width: 100%;
    object-fit: cover;
    background-position: center;
    height: 270px;
}

nav ul {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
    color: gray;
}

nav ul li:hover {
    color: salmon;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.1s ease-in-out;
}

#disfruta_mob {
    display: none;
}

#disfruta {
    height: 85px;
    margin: 0px 30px;
    background-color: rgb(239, 235, 235);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 2em;
    color: salmon;
    opacity: 100%;
    /* mix-blend-mode: darken; */
    mix-blend-mode: multiply;
}

#wrapper {
    display: grid;
    gap: 20px;
    margin-top: 10px;
}

#container {
    grid-column: 1/3;
    background-color: lightgrey;
    padding: 10px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-content: center;
    align-content: start;
    grid-auto-rows: auto;
}

article {
    border-color: black 3px solid;
    /* flex-grow: 1; */
    background-color: white;
    padding: 10px;
    text-align: left;
    color: gray;
    display: flex;
    flex-direction: column;
}

article img {
    width: 100%;
    aspect-ratio: 2/1;
    object-fit: cover;
    margin-bottom: 2px;
}

.fotico {
    display: block;
    position: relative;
}

.fechita {
    position: absolute;
    color: yellow;

    bottom: 8px;
    left: 16px;
}

article h2 {
    background-color: salmon;
    color: white;
    font-family: monospace;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 3px;
    padding: 5px 10px 0px 10px;
}

article p {
    column-count: 2;
    padding: 20px 5px 0px;
}

.read:hover {
    color: rgb(93, 62, 228);
    text-decoration: underline;
}

#sidebar {
    background-color: lightgray;
    padding: 20px;
    text-align: center;
}

#sidebar p {
    margin-top: 15px;
}

footer {
    height: 40px;
    margin-top: 10px;
    background-color: rgb(232, 229, 229);

    width: 100%;
    height: wrap;
    text-align: center;
    color: gray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-left: 10px solid lightgray;
    border-right: 10px solid lightgray;
}


/*------------------- tablet -------------------------------*/
@media (max-width: 768px) {
    #wrapper {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
    }

    #container {
        width: 100%;
    }

    #sidebar {
        width: 100%;
        display: grid;
    }

    article {
        width: 100%;
    }
}

/*------------------- mobile -------------------------------*/
@media (max-width: 480px) {

    header {
        height: 100px;
    }

    #disfruta_mob {
        width: 100%;
        color: salmon;
        font-size: 1.20em;
        font-weight: bolder;
        gap: 10px;
        padding: 3px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-blend-mode: lighten;
    }

    nav ul {
        display: none
    }

    #disfruta {
        display: none;
    }

    article h2 {
        font-size: 18px;
        letter-spacing: 1px;
    }

    article p {
        min-width: 300px;
        column-count: 1;
    }

}