*{  
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap: 20px;
}

.container {
    background: rgb(0, 0, 0);
    width: 100%;
    max-width:1200px;
    height: wrap;
    padding: 20px 20px;
    gap: 15px;
    display: flex; 
    flex-direction: column;
}

.subcontainer { 
    height:wrap; 
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sub_1 {
    background-color: #2c4059;
    flex-direction: row;
    align-items: space-between;
    gap: 2%;
    display:flex;   
}

#sub_2 {
    background-color:#ff8b00;
    font-size: 1.5em;
    font-weight: bold;
}

.items_sub1{
    height: wrap;
    padding: 10px;  
}

#sub_1_childA {
    background-color: #ea5455;
    width: 25%;
} 

#sub_1_childB {
    background-color: #ea5455;
    width: 50%;  
}

#sub_2_child{
    background-color: #fed700;
    height: wrap;
    width: 100%; 
    padding: 10px;   
}

/*  ----------------- CONTAINER 2 ----------------  */

#cont_2 {
    width: 100%;
    height: wrap;
    flex-direction: row;    
}

#sub_3 {
    background-color:  #4d4d6a;
    flex-basis: 70%;
    height: wrap;
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: wrap;
    grid-template-areas: 
        "box_1 box_2"
        "box_3 box_4"   
        "box_5 box_5";
    grid-gap: 20px;
}

.sub_3_child {
    background-color:#1f6cb0;
    padding: 10px; 
}

#blueish {
    background-color: #70a3c4;
} 

#sub_4 {
    background-color: #f73f52;
    flex-basis: 30%;
    height: wrap;
    flex-direction:column;
    justify-content: start;
    align-items: center;
    gap:10px;
}

.sub_4_child {
    background-color: #feea85;
    width: 100%;
    padding: 10px; 
}

/* ---------------- CONTAINER 5 ---------------*/

#sub_5 {
    background-color: #f0e68c;
    padding: 10px;
}


/* --------------- MEDIA QUERIES -------------------------- */

/*------------------- tablet -------------------------------*/
@media (max-width: 768px) {   
    #sub_1 {
        flex-direction: column;
        gap: 15px;
    }

    #sub_1_childA{
        width: 100%;
    }
    #sub_1_childB{
        width: 100%;
    }

    #cont_2 {
        flex-direction: column;
    }
}

/*------------------- mobile -------------------------------*/
@media (max-width: 600px) { 

    #sub_3{
        grid-template-columns: 1fr;
        grid-template-rows: wrap;
        grid-template-areas: 
            "box_1"
            "box_2"
            "box_3"
            "box_4"   
            "box_5";
        grid-gap: 10px;
    }


}