*{  
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap: 20px;
}

.container {
    background: rgb(0, 0, 0);
    width: 100%;
    max-width:1200px;
    height: wrap;
    padding: 20px 20px;
    gap: 15px;
    display: flex; 
    flex-direction: column;
}

.subcontainer { 
    height:wrap; 
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sub_1 {
    background-color: #2d4059;
    flex-direction: row;
    align-items: space-between;
    gap: 2%;
}

#sub_2 {
    background-color:#f07b3e;
}

#sub_1_childA {
    background-color: #ea5455;
    height: 20px;
    width: 25%;   
}

#sub_1_childB {
    background-color: #ea5455;
    height: 20px;
    width: 50%;   
}

#sub_2_child{
    background-color: #fed460;
    height: 20px;
    width: 100%;   
}

/*  ----------------- CONTAINER 2 ----------------  */

#cont_2 {
    width: 100%;
    height: wrap;
    flex-direction: row;    
}

#sub_3 {
    background-color:  #4d4d6a;
    flex-basis: 70%;
    height: wrap;
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20px;
    grid-template-areas: 
        "box_1 box_2"
        "box_3 box_4"   
        "box_5 box_5";
    gap: 15px;
    padding: 20px 20px;
}

.sub_3_child {
    background-color:#1f6cb0; 
    height: 20px;
}

#blueish {
    background-color: #70a3c4;
} 

#sub_4 {
    background-color: #f73f52;
    flex-basis: 30%;
    height: wrap;
    flex-direction:column;
    justify-content: start;
    align-items: center;
    gap:10px;
}

.sub_4_child {
    background-color: #feea85;
    height: 20px;
    width: 100%;
}

/* ---------------- CONTAINER 5 ---------------*/

#sub_5 {
    background-color: #e6af2e;
}


/* --------------- MEDIA QUERIES -------------------------- */

/*------------------- tablet -------------------------------*/
@media (max-width: 768px) {         
    #cont_2 {
        background-color: yellow;
        flex-direction: column;
    }
}

/*------------------- mobile -------------------------------*/
@media (max-width: 480px) {         
    #sub_1 {
        flex-direction: column;
        align-items: center;
    }

    #sub_1_childA, #sub_1_childB {
        width: 100%;
    }
}