*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    width:100%;
    max-width: 1400px;
}
nav {
    height: 70px;
    background-color: #cdc5c5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

nav img {
    height: 30x;
    width: 30px;
}