*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1200px;
}
body{
    display:flex;
    flex-direction: column;
    gap: 2px;
    font-family: roboto,sans-serif;
}


header{
    background-image: url(/TASCA-1/assets/header.jpg);
    background-size:150%;
    background-position: center;
    height:250px;
}

nav ul {
    height:100px;  
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#disfruta{
    height:150px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0px 40px 0px 40px;
    text-align: center;
    font-size: 1.5em;
    color: coral;
    opacity: 50%;
}

#wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
}

#container {
    width:82%;
    background-color: lightgrey;
    padding: 10px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
  	justify-content: center;
    align-items: center;
    width: 90vw;
}

article{
    border-color: black 3px solid;
    flex-grow: 1;
    width: 48%;
    min-width: 350px;
    background-color: white;
    padding:10px;
    text-align:left;
    display: flex;
    flex-direction: column;    
}

article img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    margin-bottom: 10px;
}

article h2{
    background-color: salmon;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 3px;
}
article p{
    column-count: 2;
    margin-top: 10px;
    padding:10px
}

#sidebar {
    background-color: lightgray;
    width: 20%;
    padding: 20px;
    float:left;
    text-align: center;
}

#sidebar p{
    margin-top: 25px;
}
 