*{
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    max-width: 1200px;
}
body{
    /* display:flex;
    flex-direction: column;
    gap: 2px; */
}

header{
    background-image: url(/TASCA-1/assets/header.jpg);
    background-size:150%;
    background-position: center;
    height:250px;
}

nav ul {
    height:100px;  
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#disfruta{
    color: black;
    border-color: red;
    text-align: center;
    color: coral;
    opacity: 100%;
}

#container {
    background-color: gray;
    padding:50px;
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-auto-rows: 100px;
    grid-gap: 20px;
}

article{
    background-color: white;
    padding:10px;
    text-align:left;
    display: flex;
    flex-direction: column;
}

article img {
    width: auto;
}

h2{
    color: salmon;
}

